/*This is a comment.*/
.intro {
    background-color: #FF1493
}

.intro:hover {
    background-color: blue
}

#about_me {
    color: rgb(255, 165, 0)
}

#my_hobbies {
    color: hsl(283, 100%, 50%)
}

#fantasy_tier_list {
    color: #179
}

#meme {
    color: rgba(255, 99, 255, 0.5)
}

#random_stuff {
    color: hsla(120, 100%, 25%, 0.3)
}

* {
    background-color:bisque
}

p {
    color:cadetblue
}

a[href] {
    color: red
}

#book1, #book2 {
    color:slateblue
}

footer p {
    color: yellowgreen
}

p.tag {
    color:turquoise
}

div>p {
    color:tomato
}

h3+p{
    color:brown
}

nav~h3 {
    color:chocolate
}

#picture1 {
    text-align: center
}

#figure1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}