.intro {
    background-color: #FF1493
}

#about_me {
    color: rgb(255, 165, 0)
}

#my_hobbies {
    color: hsl(283, 100%, 50%)
}

#fantasy_tier_list {
    color: #179
}

#meme {
    color: rgba(255, 99, 255, 0.5)
}

#random_stuff {
    color: hsla(120, 100%, 25%, 0.3)
}