/*This is a comment.*/
.intro {
    background-color: #FF1493
}

.intro:hover {
    background-color: blue
}

#about_me {
    color: rgb(255, 165, 0);
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 2em;
    position: static;
}

#my_hobbies {
    color: hsl(283, 100%, 50%)
}

#fantasy_tier_list {
    color: #179
}

#meme {
    color: rgba(255, 99, 255, 0.5)
}

#random_stuff {
    color: hsla(120, 100%, 25%, 0.3)
}

* {
    background-color:bisque
}

p {
    color:cadetblue;
    font-size: 2vw;
}

a[href] {
    color: red
}

#book1, #book2 {
    color:slateblue
}

footer p {
    color: yellowgreen
}

p.tag {
    color:turquoise
}

div>p {
    color:tomato
}

h3+p{
    color:brown
}

nav~h3 {
    color:chocolate
}

#picture1 {
    text-align: center
}

#figure1 {
    display: block;
    margin: auto;
    height: 20pc;
}

#figure2 {
    margin: 30px 25px 30px 5px;
    border: 10px solid black;
    padding: 25px 25px 25px 25px;
}

h1 {
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;
}

#ghost {
    display: none;
}

#max {
    max-width: 25%;
}

#current {
    min-width: 200%;

}

a:active {
    color:blue;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.grid-container {
    display: grid;
    row-gap: 40px;
    column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5vw);
    background-color:cornflowerblue;
    padding: 50px;
    border: solid black;
    border-width: 5px;
}

.grid-container > div {
    background-color:yellow;
    text-align: center;
    font-size: 30px;
    border: solid black;
    border-width: 5px;
    align-self: center;
}

.item1 {
    grid-column: 1 / span 3;
}

@media screen and (max-width: 1200px) {
    * {
      background-color: lightgreen;
    }
  }